.shop-head .ant-row{
    background-color: lightgray;
    height: 40px;
}
.shop-head .ant-col{
    line-height: 36px;
    font-size: 20px;
}
.create-shop-btn .ant-btn {
    border-radius: 10px;
    background-color: rgb(255, 189, 0);
}
.create-shop-btn .ant-btn:hover {
    color: black;
    background-color: rgb(235 174 0);
    border-color: rgb(235 174 0);
}
.create-shop-btn .ant-btn:focus {
    color: black;
    background-color: rgb(235 174 0);
    border-color: rgb(255, 189, 0);
}
.ant-btn-link{
    color: rgb(255, 189, 0) !important;
}
.ant-form-item-label label{
    background: whitesmoke;
    color: gray !important;
    border-radius: 10px 0 0 10px;
    width: 180px;
    padding-left: 66px;
}
input:not([type=range]) {
    border-radius: 0px 10px 10px 0px;
}

.ant-select-selector {
    border-radius: 0px 10px 10px 0px !important;
}
.ant-picker {
    border-radius: 0px 10px 10px 0px !important;
}
.select_footer>.ant-select-selector{
    border-radius: 0px !important;
}
.ant-modal-body {
    padding: 10px 24px 24px !important;
}
.ant-btn-primary {
    border-color: rgb(255, 189, 0) !important;
    background: rgb(255, 189, 0) !important;
}
/* .test {
    background: rgb(235 174 0);
}
.test .ant-table-tbody>tr.ant-table-row:hover>td, .ant-table-tbody>tr>td.ant-table-cell-row-hover{
    background: rgb(235 174 0) !important;
    cursor: pointer;
} */
